@import "./media.scss";

.MainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 98vh;
  margin-top: 20px;
}

.SearchInput {
  margin: 1rem 0;
  width: 80%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__input {
    width: 55%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
  }
  &__input:focus {
    outline: none;
  }
}

.TaskColumns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  gap: 2rem;
  &__list {
    height: 40vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-top: 20px;
  &__title {
    font-size: 14px;
  }
  &__icons {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }
}

@include desktop {
  .TaskColumns {
    flex-direction: row;
    &__list {
      height: 65vh;
    }
  }
  .SearchInput {
    &__input {
      width: 30%;
    }
  }
}
